@{
    ViewData["Title"] = "订单详情";
    ViewData["controller"] = "Orders";    
    ViewData["LinkText"] = "订单详情";
}
<style type="text/css">
    .table {
        width: 100%;
    }

        .table tr {
            height: 30px;
            line-height: 30px;
        }

            .table tr:nth-child(2n) {
                background-color: cornsilk;
            }

    .bhhead {
        border-top: 1px solid #888;
        border-bottom: 1px solid #888;
        border-left: 1px solid #888;
        background-color: darkslategray;
        color: white;
        text-align: center;
    }

    .bhitem {
        border-top: 1px solid #888;
        border-bottom: 1px solid #888;
        border-left: 1px solid #888;
        background-color: darkslategray;
        color: white;
        text-align: center;
    }

    .bhfoot {
        border: 1px solid #888;
        background-color: darkslategray;
        color: white;
        text-align: center;
    }

    .bihead {
        border-bottom: 1px solid #888;
        border-left: 1px solid #888;
        text-align: center;
    }

    .biitem {
        border-bottom: 1px solid #888;
        border-left: 1px solid #888;
        text-align: center;
    }

    .bifoot {
        border-bottom: 1px solid #888;
        border-left: 1px solid #888;
        border-right: 1px solid #888;
        text-align: center;
    }

    .divpage {
        text-align: center;
        height: 30px;
        line-height: 30px;
    }

    .paybtn {
        text-align: right;
    }

    .ordertitle {
        line-height: 60px;
        background-color: darkslategray;
        color: white;
        font-size: 18px;
        padding-left: 10px;
    }

    .orderInfo {
        height: 100px;
        margin: 10px auto;
    }

    .itemname {
        display: block;
        float: left;
        width: 80px;
        height: 30px;
        line-height: 30px;
        margin-left: 10px;
    }

    .itemvalue {
        display: block;
        float: left;
        width: 220px;
        height: 30px;
        line-height: 30px;
    }

    .itemvaluelong {
        display: block;
        float: left;
        width: 520px;
        height: 30px;
        line-height: 30px;
    }

    .btnOrder {
        padding-left: 400px;
    }

        .btnOrder a, .btnOrder a:visited {
            display: block;
            width: 130px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            color: white;
            text-decoration: none;
            background-image: url("/Images/top-bg11.jpg");
            border-radius: 5px;
        }
</style>
<div class="ordertitle">
    订单明细
</div>
@if (Model is not null)
{
    <div class="orderInfo">
        <span class="itemname">订购编号：</span><span class="itemvalue">@ViewBag.Orders.OrderId</span>
        <span class="itemname">订购日期：</span><span class="itemvalue">@(ViewBag.Orders.OrderDate.ToString("yyyy-MM-dd"))</span>
        <span class="itemname">订购状态：</span><span class="itemvalue">@(ViewBag.Orders.OrderState == 1 ? "未支付" : "已支付")</span>
        <span class="itemname">订购总价：</span><span class="itemvalue">@Math.Round(ViewBag.totalPrice, 2)</span>
        <span class="itemname">用户账户：</span><span class="itemvalue">@ViewBag.Users.LoginName</span>
        <span class="itemname">用户姓名：</span><span class="itemvalue">@ViewBag.Users.UserName</span>
        <span class="itemname">联系电话：</span><span class="itemvalue">@ViewBag.Users.Phone</span>
        <span class="itemname">电子邮件：</span><span class="itemvalue">@ViewBag.Users.Email</span>
    </div>
    <div style="margin-top:-20px;">
        <span class="itemname">联系地址：</span><span class="itemvaluelong">@ViewBag.Users.Address</span>
    </div>
    <div style="clear:both;height:0;"></div>
    <table class="table" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th class="bhhead">图书编号</th>
                <th class="bhhead">图书名称</th>
                <th class="bhitem">单价</th>
                <th class="bhitem">数量</th>
                <th class="bhitem">合计</th>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="bihead">
                        @item.Book.BookId
                    </td>
                    <td class="biitem">
                        <a asp-controller="Books" asp-action="Details" asp-route-id="@item.Book.BookId">@(item.Book.BookTitle.Length > 30 ? item.Book.BookTitle.Substring(0, 30) + "..." : item.Book.BookTitle)</a>
                    </td>
                    <td class="biitem">
                        @(Math.Round(item.Book.UnitPrice, 2))
                    </td>
                    <td class="biitem">
                        @item.Quantity
                    </td>
                    <td class="bifoot">
                        @(Math.Round(item.Book.UnitPrice * item.Quantity, 2))
                    </td>
                </tr>
            }

            <tr>
                <td class="bhhead" colspan="3">合计：</td>
                <td class="bhitem">@ViewBag.cartTotal</td>
                <td class="bhfoot">@(Math.Round(ViewBag.totalPrice, 2))</td>
            </tr>
        </tbody>
    </table>
    <div class="divpage">
        共 @ViewBag.totalCount 条，第 @ViewBag.pageIndex 页/共 @ViewBag.totalPage 页 <a action="Detail" asp-route-pageIndex="1">首页</a>
        @if (ViewBag.pageIndex == 1)
        {
            <a asp-action="Detail" style="pointer-events:none;cursor:default;color:gray;">上一页</a>
        }
        else
        {
            <a asp-action="Detail" asp-route-pageIndex="@(ViewBag.pageIndex-1)">上一页</a>
        }
        @if (ViewBag.pageIndex == ViewBag.totalPage)
        {
            <a asp-action="Detail" style="pointer-events:none;cursor:default;color:gray;">下一页</a>
        }
        else
        {
            <a asp-action="Detail" asp-route-pageIndex="@(ViewBag.pageIndex+1)">下一页</a>
        }
        <a asp-action="Detail" asp-route-pageIndex="@(ViewBag.totalPage)">尾页</a>
    </div>
}
